.advantages {
    padding: 73px 0 67px 0;
	margin-top: 0;
    background: #f6f6f6;
    &__title {
        margin-top: 0;
		font-weight: 700;
        font-size: 30px;
        color: #0D0D0D;
        text-align: center;
    }
    &__row {
        display: flex;
        justify-content: space-between;
		margin-top: 60px;
    }
    &__element {
        display: flex;
        flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 277px;
		span {
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			margin-top: 35px;
		}
        img {
            display: block;
			width: 70px;
			height: 70px;
        }
    }
	#redUnderline {
		display: inline;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		text-decoration-line: underline;
		color: #FF0000;
		margin: 0;
	}
	&__element {
		&_animated {
			img {
				animation: heartbeat 1.5s ease infinite;
				&:hover {
					animation-play-state: paused;
				}
			}
		}
	}
}