.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 222px;
        height: 52px;
        border: 2px solid #D0D0D0;
        font-family: 'MuseoModerno';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #6B6B6B;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            box-shadow: 3px 3px 3px black;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background-color: $main-color;
            color: #fff;
            border: none;
        }
    }
    &__content {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        display: none;
        &_active {
            display: flex;
        }
    }
    &-item {
        width: 303px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        &__img {
            display: block;
            margin: 0 auto;
            height: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 20px;
            color: black;
            font-size: 16px;
            text-align: center;
            font-weight: 700;
        }
        &__descr {
            margin-top: 16px;
            color: black;
            font-size: 14px;
            text-align: center;
            font-weight: 300;
        }
        &__link {
            margin-top: 17px;
            font-weight: 400;
            text-align: center;
            font-size: 17px;
            color: $main-color;
            display: block;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            background-color: #e8e8e8;
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;      
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-size: 14px;
            text-decoration-line: line-through;
            font-weight: 300;
            color: #555555;
        }
        &__price {
            color: #040404;
            font-size: 20px;
            font-weight: 700;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            // margin-right: 20px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            // margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 10px;
            margin-bottom: 0;
            margin-block-start: 0;
            
            &_active {
                transform: translateX(-100%);
                // margin-left: 20px;
            }
            li {
                position: relative;
                color: #555555;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 20px;
                list-style-type: none;
                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 8px;
                }
            }
        }
        &__back {
            position: absolute;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            text-decoration-line: underline;
            color: $main-color;
            left: calc(50% - 33px);
            bottom: 20px;
            &:hover {
                color: $main-color;
            }
        }
    }
}