@media (max-width: 991px) {
    .promo {
        padding: 21px 60px 93px 60px;
    }
}
    .advantages {
        padding: 73px 60px 67px 60px;
    }
    .consultation {
        padding: 100px 60px 92px 90px;
    }
	.carousel {
		padding: 70px;
		&__inner {
			
		}
		img {
			width: 100%;
		}
		.next {
			display: none;
		}
		.prev {
			display: none;
		}
	}
	.catalog {
		padding: 0 10px;
		.catalog-item	{
			width: 230px;
			&__price {
				font-size: 18px;
			}
			.button_mini {
				width: 45%;
			}
		}
		&__content {

		}
		
	}
	.reviews {
		padding: 0 40px 0 40px;
	}
	.footer {
		&__info {
			width: 40%;
		}
	}
@media (max-width: 767px) {
	.promo {
		padding: 21px 40px 93px 40px;
		.header {
			&__phone {
				font-size: 16px;
			}
		}
		&__header {
			text-align: end;
		}
		.button {
			margin-top: 8px;
			width: 150px;
		}
	}
	.advantages {
		padding: 73px 40px 67px 40px;
	}
	.consultation {
	    padding: 100px 40px 92px 40px;	
	}
}
@media (max-width: 575px) {
	.promo {
        padding: 21px 15px 93px 15px;
		.header {
			&__official {
				display: none;
			}
			img {
				width: 90%;
			}
		}
		&__subheader {
			text-align: end;
		}
		&__icons {
			width: 100%;
		}
		.button_main {
			margin-top: 50px;
		}
	}
	.advantages {
        padding: 73px 15px 67px 15px;
		&__element {
			display: flex;
			align-items: space-between;
			font-size: 12px;
			span {
				font-size: 14px;
			}
		}
		#redUnderline {
			display: inline;
			font-style: normal;
			font-weight: 300;
			font-size: 12px;
			text-decoration-line: underline;
			color: #FF0000;
		}
    }
    .consultation {
        padding: 100px 20px 92px 20px;
    }
}
    