.reviews {
    margin: 0 auto;
    &__content {
        display: flex;
        align-items: flex-start;
        margin-top: 60px;
        // margin-top: 110px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        max-width: 680px;
        margin-left: 61px;
        // margin-top: 60px;
    }
    &__img {
        width: 169px;
        height: 169px;
        // margin-top: 110px;
    }
    &__name {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    }
    &__mara {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
    }
    &__descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        margin-top: 10px;
    }
}